<template>
  <Moveable
    class="card"
    v-bind="moveable"
    @drag="handleDrag"
    @resize="handleResize"
    @scale="handleScale"
    @rotate="handleRotate"
    @warp="handleWarp"
    @pinch="handlePinch"
    ref="moveable"
  >
    <img :src="src" />
  </Moveable>
</template>

<script>

import Moveable from 'vue-moveable';

export default {
  name: 'card',
  props: ['image'],
  computed: {
    src: function () {
      return window.BaseUrl + this.image;
    }
  },
  components: {
    Moveable,
  },
  data: () => ({
    moveable: {
      draggable: true,
      throttleDrag: 0,
      resizable: false,
      throttleResize: 1,
      keepRatio: false,
      scalable: true,
      throttleScale: 0,
      rotatable: false,
      throttleRotate: 0,
      pinchable: true, // ["draggable", "resizable", "scalable", "rotatable"]
      origin: false,
    }
  }),
  methods: {
    handleDrag ({target, transform}) {
      // console.log('onDrag left, top', transform);
      target.style.transform = transform;
    },
    handleResize ({
      target, width, height, delta,
    }) {
      // console.log('onResize', width, height);
      delta[0] && (target.style.width = `${width}px`);
      delta[1] && (target.style.height = `${height}px`);
    },
    handleScale ({target, transform, scale}) {
      // console.log('onScale scale', scale);
      target.style.transform = transform;
    },
    handleRotate ({target, dist, transform}) {
      // console.log('onRotate', dist);
      target.style.transform = transform;
    },
    handleWarp ({target, transform}) {
      // console.log('onWarp', transform);
      target.style.transform = transform;
    },
    handlePinch ({target}) {
      // console.log('onPinch', target);
    },
    //    move () {
    //      console.log('MOOOOO', this.$refs.moveable);
    //    }
  },
  //  mounted: function () {
  //    this.EventBus.$on('cardMove', cardId => {
  //      if (cardId === this.image) {
  //        this.move();
  //      }
  //    });
  //  },
}
</script>

<style scoped>
.card {
  position: absolute;
}
</style>
