<template>
  <div :data-image='image'>
    <img :src="src" />
  </div>
</template>

<script>

export default {
  name: 'cardMobile',
  props: ['image'],
  computed: {
    src: function () {
      return window.BaseUrl + this.image;
    }
  }
}
</script>

<style scoped>
img {
  width: 100%;
}
</style>
