<template>
  <div>
    <div v-if="!isMobile" class="cardBox">
      <div
        v-for="card in cards"
        :key="'D'+card.path"
        ref="cards"
        :style="card.pos"
        @dblclick.prevent.stop="handleClickOnCard($event, card)"
        contextmenu
      >
        <Card :image="card.path" :style="card.dimension"/>
      </div>
    </div>

    <div v-else class="cardBox">
      <div
        v-for="card in cards"
        :key="'M'+card.path"
        v-touch:tap="handleTouchOnCard"
      >
        <CardMobile :image="card.path" />
      </div>
    </div>

    <Modal v-if="selectedCard" @close="selectedCard = false">
      <template v-slot:header><img :src="src" /></template>

      <aside class="menu">
        <p class="menu-label">Drop to</p>
        <ul class="menu-list">
          <li v-for="dropStack in dropStacks" :key="dropStack"><a
            @click="selectedCardAction = {name: 'dropCard', target: dropStack}"
            v-bind:class="{'is-active': (selectedCardAction.name === 'dropCard' && selectedCardAction.target === dropStack)}"
          >{{dropStack}}</a></li>
        </ul>
        <p class="menu-label">Give</p>
        <ul class="menu-list">
          <li v-for="player in players" :key="player"><a
            @click="selectedCardAction = {name: 'giveCard', target: player}"
            v-bind:class="{'is-active': (selectedCardAction.name === 'giveCard' && selectedCardAction.target === player)}"
          >{{player}}</a></li>
        </ul>
        <p class="menu-label">Discard</p>
        <ul class="menu-list">
          <li><a
            @click="selectedCardAction = {name: 'dropCard', target: 'discardPile'}"
            v-bind:class="{'is-active': (selectedCardAction.name === 'dropCard' && selectedCardAction.target === 'discardPile')}"
          >Discard Pile</a></li>
        </ul>
      </aside>

      <template v-slot:footer class="modal-card-foot">
        <button class="button is-success" :disabled="selectedCardAction.name === null" :class="{'is-loading': isLoading.modal}" @click="doCardAction">Do it!</button>
        <button class="button" @click="selectedCard = false; selectedCardAction.name = null; selectedCardAction.target = null">Cancel</button>
      </template>

    </Modal>
  </div>
</template>

<script>

import Card from '@/components/Card';
import CardMobile from '@/components/CardMobile';
import Modal from '@/components/Modal';
import { isMobile } from 'mobile-device-detect';

export default {
  name: 'Hand',
  components: { Card, CardMobile, Modal },
  props: ['dropStacks'],
  data () {
    return {
      cards: [],
      selectedCard: false,
      selectedCardAction: {name: null, target: null},
      isLoading: {modal: false},
      dropStackName: false,
      players: [],
      deckConfigs: [],
    }
  },
  computed: {
    src: function () {
      return window.BaseUrl + this.selectedCard.path;
    },
    isMobile: function () {
      console.log('Mobile', isMobile);
      return isMobile;
    }
  },
  mounted: function () {
    this.EventBus.$on('drawCard', deck => {
      this.drawCard(deck);
    });
    this.EventBus.$on('suffleStack', deck => {
      this.suffleStack();
    });
    this.loadCards();
  },
  watch: {
    $route (to, from) {
      if (typeof to.params.dropStack === 'undefined') {
        this.dropStackName = false;
      } else {
        this.dropStackName = to.params.dropStack;
      }
      this.loadCards();
    }
  },
  methods: {
    handleClickOnCard (event, card) {
      this.selectedCard = card;
    },
    handleTouchOnCard (evernt) {
      console.log('touch', evernt.path[1].dataset.image);
      this.selectedCard = { path: evernt.path[1].dataset.image };
    },
    loadCards () {
      var self = this;
      console.log('start load', this.$route.params.dropStack, this.$route.params.query);
      let url = 'look';
      if (typeof this.$route.params.dropStack !== 'undefined') {
        url += '/' + this.$route.params.dropStack
      }
      console.log(url);
      this.HTTP.get(url)
        .then(response => {
          console.log('loaded', response.data);

          this.EventBus.$emit('playerName', response.data.data.player);
          this.EventBus.$emit('isHost', response.data.data.isHost);
          this.EventBus.$emit('gameName', response.data.data.gameConfig.name);
          this.EventBus.$emit('dropStacks', response.data.data.gameConfig.dropStacks);

          this.deckConfigs = response.data.data.gameConfig.decks;
          let decks = [];
          for (var deck in this.deckConfigs) {
            if (this.deckConfigs[deck].drawAble === true) {
              decks.push(deck);
            }
            this.deckConfigs[deck].col = 0;
            this.deckConfigs[deck].row = 0;
          }
          console.log('decks', this.deckConfigs);
          this.EventBus.$emit('decks', decks);

          let cards = response.data.data.cards;

          for (let i=0; i < cards.length; ++i) {
            let card = cards[i];
            let config = this.deckConfigs[card.deckType];
            // console.log('asdf', card, config, count);

            card.dimension = 'height:' + config.height + 'px; width:' + config.width + 'px;';

            let x = 10 + config.left + config.col * config.width + config.col * 10;
            let y = 20 + config.top + config.row * config.height + config.row * 10;
            console.log(i, card.deckType, config.row, config.col, x, y, config.top);
            card.pos = 'transform: translate(' + x + 'px, ' + y + 'px);';
            ++config.col;
            if (config.col >= config.columns) {
              config.col = 0;
              ++config.row;
            }
          }
          self.cards = cards;

          let players = [];
          for (let i=0; i < response.data.data.players.length; ++i) {
            players.push(response.data.data.players[i].name);
          }
          this.players = players;
        })
        .catch(e => {
          if (typeof e.response.data.error !== 'undefined') {
            alert(e.response.data.error);
          } else {
            console.log('Misterious error (look)', e);
            alert('Misterious error (look): '+e);
          }
        })
    },
    drawCard (deck) {
      var self = this;
      console.log('draw', deck);
      this.HTTP.get('draw/'+deck)
        .then(response => {
          let card = response.data.data.card;
          let h = this.deckConfigs[card.deckType].height;
          let w = this.deckConfigs[card.deckType].width;
          card.dimension = 'height:' + h + 'px; width:' + w + 'px;';
          card.pos = 'transform: translate(60px, 60px);';
          console.log(card);
          self.cards.push(card);
        })
        .catch(e => {
          if (typeof e.response.data.error !== 'undefined') {
            alert(e.response.data.error);
          } else {
            console.log('Misterious error (draw)', e);
            alert('Misterious error (draw): '+e);
          }
        })
    },

    doCardAction () {
      var self = this;
      console.log('doCardAction', this.selectedCardAction.name, this.selectedCardAction.target);
      this.isLoading.modal = true;
      this[this.selectedCardAction.name](this.selectedCard, this.selectedCardAction.target, function () {
        self.isLoading.modal = false;
        self.selectedCard = false;
        self.selectedCardAction = {name: null, target: null};
      });
    },
    dropCard (card, dropStack, after) {
      let cardId = card.path.replace(/\//g, '|');
      console.log(card, cardId, dropStack);
      let url = 'drop/'+cardId;
      if (typeof dropStack !== 'undefined') {
        url += '/' + dropStack;
      }
      if (this.dropStackName) {
        url += '?from=' + this.dropStackName;
      }
      console.log(url);
      this.HTTP.get(url)
        .then(response => {
          console.log(response);
          this.cards = this.cards.filter(function (el) { return el.path !== card.path; });
          this.selectedCard = false;
          after();
        })
        .catch(e => {
          if (typeof e.response.data.error !== 'undefined') {
            alert(e.response.data.error);
          } else {
            console.log('Misterious error (drop)', e);
            alert('Misterious error (drop): '+e);
          }
          after();
        });
    },
    giveCard (card, player, after) {
      let cardId = card.path.replace(/\//g, '|');
      console.log('give', card, cardId, player);
      let url = 'give/'+cardId+'/'+player;
      if (this.dropStackName) {
        url += '?from=' + this.dropStackName;
      }
      console.log(url);
      this.HTTP.get(url)
        .then(response => {
          console.log(response);
          this.cards = this.cards.filter(function (el) { return el.path !== card.path; });
          this.selectedCard = false;
          after();
        })
        .catch(e => {
          if (typeof e.response.data.error !== 'undefined') {
            alert(e.response.data.error);
          } else {
            console.log('bababab');
            console.log('Misterious error (give)', e);
            alert('Misterious error (give): '+e);
          }
          after();
        });
    },

    suffleStack () {
      console.log('suffleStack start', this.dropStackName);
      if (this.dropStackName === false) {
        return;
      }

      this.HTTP.get('shuffle/'+this.dropStackName)
        .then(response => {
          console.log(response);
          this.cards = [];
        })
        .catch(e => {
          if (typeof e.response.data.error !== 'undefined') {
            alert(e.response.data.error);
          } else {
            console.log('Misterious error (stack)', e);
            alert('Misterious error (stack): '+e);
          }
        });
    },
  }
}
</script>

<style>
.cardBox {
  margin-top: 5px;
}
.modal-card-head {
  text-align: center;
}
.modal-card-head img {
  max-width: 600px;
  max-height: 50vh;
}
</style>
