<template>
  <div class="modal is-active">
    <div class="modal-background" @click="$emit('close')"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          <slot name="header"/>
        </p>
      </header>
      <section class="modal-card-body">
        <slot>
          <p>Default Content</p>
        </slot>
      </section>
      <footer class="modal-card-foot">
          <slot name="footer">
              <button class="button" @click="$emit('close')">Cancel</button>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app',
};

</script>

<style scoped>
</style>
