<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

      <div class="navbar-start">
        <a v-for="drawDeck in drawDecks" :key="drawDeck" @click="drawCard(drawDeck)" class="navbar-item">+{{drawDeck}}</a>

        <div v-if="isHost" class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Drop Stacks</a>

          <div class="navbar-dropdown">
            <router-link v-for="dropStack in dropStacks" :key="dropStack" :to="'/dropStack/' + dropStack" class="navbar-item">{{dropStack}}</router-link>
            <hr class="navbar-divider">
            <router-link to="/dropStack/discardPile" class="navbar-item">Discard Pile</router-link>
            <hr class="navbar-divider">
            <router-link to="/player" class="navbar-item">Back to own hand</router-link>
          </div>
        </div>

        <a v-if="isHost" @click="suffleStack" class="navbar-item">Shuffle</a>
      </div>

    </div>
    <div id="navbar" class="navbar-menu">

      <div class="navbar-end">
        <div class="navbar-item">
          <div>{{gameName}}</div>
        </div>
        <div class="navbar-item">
          <div>{{playerName}}</div>
        </div>
      </div>

    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavbarName',
  props: ['gameName', 'playerName', 'isHost', 'drawDecks', 'dropStacks'],
  methods: {
    drawCard (deck) {
      this.EventBus.$emit('drawCard', deck);
    },
    suffleStack () {
      this.EventBus.$emit('suffleStack');
    },
  }
}
</script>

<style scoped>
@media screen and (min-width: 600px) {
  .navbar, .navbar-menu, .navbar-start {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
  }
}
@media screen and (max-width: 1024px) {
  .navbar-end {
    display: none;
  }
}

.navbar {
  border-bottom: 1px grey solid;
}
a {
  color: #42b983;
}
</style>
