<template>
  <article class="message is-warning">
    <div class="message-header">
      <p>Warning</p>
    </div>
    <div class="message-body">404</div>
  </article>
</template>

<script>

export default {
  name: 'NotFound',
};

</script>

<style scoped>
.message {
  margin: 20px auto;
  width: 50%;
}
</style>
