<template>
  <div id="app" class="">
    <NavBar :drawDecks="drawDecks" :gameName="gameName" :playerName="playerName" :isHost="isHost" :dropStacks="dropStacks"></NavBar>
    <router-view :dropStacks="dropStacks"/>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar'

export default {
  name: 'App',
  components: { NavBar },
  data () {
    return {
      gameName: '',
      playerName: '',
      isHost: false,
      drawDecks: [],
      dropStacks: [],
    }
  },
  mounted: function () {
    this.EventBus.$on('gameName', gameName => {
      this.gameName = gameName;
    });
    this.EventBus.$on('playerName', playerName => {
      this.playerName = playerName;
    });
    this.EventBus.$on('isHost', isHost => {
      this.isHost = isHost;
    });
    this.EventBus.$on('decks', decks => {
      this.drawDecks = decks;
    });
    this.EventBus.$on('dropStacks', dropStacks => {
      this.dropStacks = dropStacks;
    });
  },
}
</script>

<style>
.rCSeieii1 {
  z-index: auto !important;
}
</style>
